<h3> Olá {{ user.fullName }}, </h3>
<p>
  Houve uma solicitação para alterar sua senha no sistema Doctor App.
  Se você não fez essa solicitação, ignore este e-mail.
  Caso contrário, clique neste link para alterar sua senha: <a href="{{ url }}">Alterar senha</a>
</p>