<h3>Comunicação de internação, urgência ou emergência!</h3>
<p>
O paciente {{ nome_paciente }} realizou um comunicado de urgência. Para acessar ao formulário preenchido clique no link abaixo:
</p>
<p>
  <a href="{{ link }}">Visualizar comunicado</a>
</p>

